/* Variables */
:root {
    --default-font-size: 14px;
    --default-font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --default-font-weight: lighter;
    --body-color: #d6d6d6;
    --light-background-color: oklch(97% 0.001 106.424);
    --dark-background-color: oklch(21% 0.006 285.885);
    --light-text-color: oklch(92.9% 0.013 255.508);
    --dark-text-color: oklch(44.4% 0.011 73.639);
    --main-width: 900px;
    --sidebar-width: 320px;
    --vertical-spacing: 1.5rem;
    --header-height: 110px;
    --header-title-color: oklch(44.6% 0.043 257.281);
    --header-subtitle-color: oklch(55.4% 0.046 257.417);
}
/* Normalization */
html, body, h1, h2, h3, h4, h5, h6, p, a, ul, li {
    margin: 0;
    padding: 0;
    font-size: var(--default-font-size);
    font-weight: var(--default-font-weight);
    font-family: var(--default-font-family);
    text-decoration: none;
    color: inherit;
    list-style: none;
}
img {
    max-width: 100%;
}

/* Styles */
body {
    background-color: var(--body-color);
    display: flex;
    justify-content: center;
    color: var(--dark-text-color);
}
main {
    width: var(--main-width);
    display: flex;
    min-height: 100vh;
}

/* Sidebar area */
#sidebar {
    background-color: var(--dark-background-color);
    width: var(--sidebar-width);
    min-width: var(--sidebar-width);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding-top: var(--vertical-spacing);
    padding-bottom: var(--vertical-spacing);
    color: var(--light-text-color);
}
#sidebar #profile-picture {
    width: calc(var(--sidebar-width) - 120px);
    padding: 0.5rem;
    background-color: var(--light-text-color);
    border-radius: 50%;
}
#sidebar #profile-picture img {
    border-radius: 50%;
}
#sidebar section {
    width: calc(var(--sidebar-width) - 80px);
    color: var(--light-text-color);
}
#sidebar #contact i {
    font-size: 1.4rem;
}
#sidebar section h3 {
    font-size: 1.3rem;
    font-weight: 500;
    letter-spacing: 0.05rem;
    padding-bottom: 0.3rem;
    border-bottom: 0.2rem solid var(--light-text-color);
}
#sidebar section .sidebar-item {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 1.1rem;
    padding-top: 0.5rem;
}
#sidebar section .skills .sidebar-item i {
    font-size: 1.4rem;
}
#sidebar section ul .reference {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
#sidebar section ul .reference ul {
    padding-left: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
}
#sidebar section ul .reference ul li {
    display: flex;
    align-items: center;
    gap: 0.7rem;
}
#sidebar section ul .reference ul li i {
    font-size: 0.7rem;
    padding-top: 0.2rem;
}

/* Content area */
#content {
    background-color: var(--light-background-color);
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 1.5rem;
}
#content header {
    margin-top: var(--vertical-spacing);
    position: relative;
    width: 100%;
    height: var(--header-height);
}
#content header div {
    background-image: linear-gradient(90deg, oklch(0.92 0.004 286.32) 0%, oklch(0.92 0.004 286.32) 50%, oklab(0.97 -0.000282743 0.000959196 / 0.3) 100%);
    position: absolute;
    padding: 1.5rem;
    padding-top: 1rem;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    left: -1.5rem;
}
#content header h1 {
    font-size: 2.7rem;
    letter-spacing: 0.2;
    color: var(--header-title-color);
}
#content header p {
    font-size: 1.4rem;
    letter-spacing: 2.5;
    color: var(--header-subtitle-color);
}
#content .content-sections {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-left: 3.5rem;
    padding-right: 3.5rem;
}
#content .content-sections section .section-heading {
    border-bottom: 0.2rem solid var(--dark-text-color);
}
#content .content-sections section .section-heading h2 {
    font-size: 1.9rem;
    letter-spacing: 0.5;
}
#content .content-sections section .section-body {
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
#content .content-sections section .section-body ul {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
}
#content .content-sections section .section-body ul li {
    list-style-type: disc;
    list-style-position: inside;
}

/* Article */
#content .content-sections section .section-body article {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-left: 2.5rem;
}
#content .content-sections section .section-body article .article-line {
    position: absolute;
    border: 1px solid var(--dark-text-color);
    left: 1rem;
    top: 1.8rem;
    height: calc(100% - 2.5rem);
}
#content .content-sections section .section-body article .article-bullet {
    position: absolute;
    left: 0.55rem;
    top: 0.5rem;
    width: 1rem;
    height: 1rem;
    background-color: var(--dark-text-color);
    border-radius: 50%;
    outline: 2px solid var(--dark-text-color);
    outline-offset: 0.2rem;
}
#content .content-sections section .section-body article h3 {
    font-size: 1.1rem;
    font-weight: 600;
}
#content .content-sections section .section-body article .article-info {
    display: flex;
    justify-content: space-between;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
#content .content-sections section .section-body article .article-info strong {
    font-weight: 600;
}
#content .content-sections section .section-body article .article-content p {
    font-size: 0.9rem;
    letter-spacing: 0.3;
    margin-bottom: 0.5rem;
}
#content .content-sections section .section-body article .article-link a {
    font-weight: 600;
}
#content .content-sections section .section-body li #thesis-link {
    font-weight: 600;
}